<nav id="menu">
  <ul class="links">
    <li><a href="http://localhost:8080/home">Home</a></li>
    <li><a href="http://localhost:8080/generic">Generic</a></li>
    <li><a href="http://localhost:8080/elements">Elements</a></li>
  </ul>
</nav>